<div class="wrapper">
    <!-- Navbar Start -->
    <%- include('../partials/header'); %>
        <%- include('../partials/Language.ejs'); %>
            <!-- Navbar End -->
            <!-- Main Container Start -->
            <main class="main--container">
                <!-- Page Header End -->
                <!-- Main Content Start -->
                <section class="main--content p-3">
                    <div class="panel">
                        <div class="panel-content">
                            <!-- Form Wizard Start -->
                            <form action="/admin_dashboard/quiz" enctype="multipart/form-data" method="post" id="formWizard" class="form--wizard">
                                <% if (messageSuccessAdd.length > 0) { %>
                                    <div class="alert alert-success" style="font-size: 2rem; text-align: center;">
                                        <%= messageSuccessAdd %>
                                    </div>
                                    <% } %>
                                        <% if (messageDangerAdd.length > 0) { %>
                                            <div class="alert alert-danger" style="font-size: 2rem; text-align: center;">
                                                <%= messageDangerAdd %>
                                            </div>
                                            <% } %>
                                                <h3 style="text-align: center;  color:black; background-color: rgb(6, 110, 140);" class="p-2">
                                                    <%= i18n.__("Add Quiz")%>
                                                </h3>
                                                <section class="pt-5">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        write a question
                                                    </span>
                                                    <input type="text" name="title"
                                                        placeholder="title"
                                                    class="form-control" required>
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        choice 1
                                                    </span>
                                                    <input type="text" name="choice1"
                                                        placeholder="choice 1"
                                                    class="form-control" required>
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        correct or not
                                                    </span>
                                                    <input type="checkbox" name="right1"
                                                        placeholder="choice 1"
                                                    class="form-control" >
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        choice 2
                                                    </span>
                                                    <input type="text" name="choice2"
                                                        placeholder="choice2"
                                                    class="form-control" required>
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        correct or not
                                                    </span>
                                                    <input type="checkbox" name="right2"
                                                        placeholder="choice 1"
                                                    class="form-control" >
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        choice3
                                                    </span>
                                                    <input type="text" name="choice3"
                                                        placeholder="choice3"
                                                    class="form-control" required>
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        correct or not
                                                    </span>
                                                    <input type="checkbox" name="right3"
                                                        placeholder="right3"
                                                    class="form-control" >
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        choice 4
                                                    </span>
                                                    <input type="text" name="choice4"
                                                        placeholder="choice 4"
                                                    class="form-control" required>
                                                </label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        correct or not
                                                    </span>
                                                    <input type="checkbox" name="right4"
                                                        placeholder="right4"
                                                    class="form-control" >
                                                    </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>
                                                    <span class="label-text">
                                                        <%= i18n.__("Category")%>
                                                    </span>
                                                    <select name="categories" class="form-control">
                                                        <option value="">
                                                            <%= i18n.__("choose a category")%>
                                                        </option>
                                                            <option value="basic Quiz">
                                                                basic quiz
                                                            </option>
                                                            <option value="grammar Quiz">
                                                                grammar quiz
                                                            </option>
                                                    </select>
                                                    </select>
                                                    </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="P-3">
                                                    <div class="row">
                                                </section>
                                                <div class="col-md-12 pt-4">
                                                    <div class="form-group" style="text-align: center;">
                                                        <label>
                                            <span class="label-text"></span>
                                            <button type="submit" class="btn btn-success" style="border-radius:5px;">
                                                <%= i18n.__("ADD A QUESTION")%>
                                            </button>
                                        </label>
                                                    </div>
                                                </div>
                            </form>
                            </div>
                        </div>
                        <!-- Main Content End -->
            </main>
            <!-- Main Container End -->
            </div>